main{
max-width: 1140px;
margin: auto;
}
.banner{
background-image: url('../assets/Hero-bg.png');
text-align: center;
max-width: 1140px;
height: 400px;
margin: auto;

}

.first-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
}

.why-web-dev{

margin-top: 70px;
text-align: center;
background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    max-width: 1046px;
    height: 1395px;

}
.why-web-dev h1{


    font-size: 32px;
    margin-bottom: 10px;
}
.why-web-dev p{
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}
.reasons{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.reason{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
justify-content:space-between;
padding: 48px;
gap: 70px;

}
.reason img{
    width: 250px;
    height: 250px;
text-align: left;
}
.reason-content{
    padding: 15px;
    flex: 1;



}
.inspiration{
height: 777px;
    width: 1140px;
    display: flex;
    gap: 50px;
}
.inspiration p{

    text-align: center;
}
.reasons{
    contain: flex;
    gap: 40px;
}
.learn-more-btn{

    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7; 
    position: static;
width: 149px;
height: 48px;   
justify-content: center;
align-items: center;
padding: 8px 13px 10px 13px;
text-decoration: none;

}